{% extends 'blog/base.html' %}

{% block content %}
<div class="card mb-3">
    <img src="{{post.image.url}}" class="rounded mx-auto d-block" alt="image">
    <div class="card-body">
      <h5 class="card-title">{{post.title}}</h5>
      <p class="card-text">{{post.content}}</p>
      <p class="card-text"><small class="text-muted">Last updated {{post.last_updated}}</small></p>
    </div>
    <form action="{% url 'like' post.id %}" method="post">
      {% csrf_token %}
      <input type="hidden" name="post_id" value="{{ post.id }}" >
      
      {% if not like  %}
        <button type="submit" class="btn btn-success">Like</button>
      {% else %}
        <button type="submit" class="btn btn-danger">Unlike</button>
      {% endif %}
      <strong>{{lcount}} Like</strong>
    </form>

      <hr><br>
      {% load crispy_forms_tags %}  
    <form action="{% url 'comment' post.id %}" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      {{form | crispy}}
      <input type="submit" value="Make a Comment">
    </form>
      <hr><br>
      <h2>COMMENTS</h2>
      <hr><br>
      {% for comment in comments %}
      <div class="course-br">
        <div  class="course-title">
            <h4>{{comment.user}}</a></h4>
        </div>
        <div class="course-desc">
            <p>{{comment.comment | truncatechars:100 }}</p>
        </div>
      </div>
      <hr>
      {% endfor %}
        
      

    
  </div>
    
    {% if user.id == post.poster_id %}
    <a href="{% url 'update' post.id %}"><button class="btn btn-primary">Edit</button></a>
    <a href="{% url 'delete' post.id %}"><button class="btn btn-danger">Delete</button></a>     
    {% endif %}
      


{% endblock content %}